[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
arxiv-base = "==0.16.1.post2"
dataclasses = "*"
numpy = "*"
sklearn = "*"
gensim = "*"
ftfy = "*"
unidecode = "*"
joblib = "*"
flask = "*"
fastai = "==1.0.55"
torch = "==1.3.1"
torchvision = "==0.4.2"
sentencepiece = "==0.1.83"

[dev-packages]
pylint = "*"
nose = "*"

[requires]
python_version = "3.6"
